.card {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.carouse{
  padding-top: 100px;
  padding-bottom: 100px;
  width:800px;
  margin:0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}
